<!DOCTYPE :html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blog.swift</title>
  </head>
  <body>
    <h1>blog.swift</h1>
    <small>{{ posts.count }} blog posts</small>
    {{# posts }}
    <div>
      <small>{{ id }}</small>
      <span class="date">Created At: {{ created }}</span>
      <p>{{ content }}</p>
    </div>
    {{/ posts }}
  </body>
</html>
